## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
phone = 54321
print(phone)

54321

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
phone = 54321
type(phone)

int

4) Crear una variable que contenga tu nombre

In [9]:
my_name = "Lina"

5) Crear una variable que contenga un número complejo

In [29]:
num_compl = 5 + 8j #la j es el sufijo que utilza python para representar la parte imaginaria

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [30]:
type(num_compl)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [4]:
pi = 3.141592
pi_redondeado = round(pi, 4)

#Pi = 3.1416

print(pi_redondeado)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [32]:
var1 = "True" # es un string 
var2 = True# es un valor booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [33]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [34]:
var3 = 6 + 2.5

11) Realizar una operación de suma de números complejos

In [8]:
num1 = 5 + 8j
num2 = 6 + 4j
num3 = 3j + 7
print(num1 + num2 + num3)

(18+15j)

12) Realizar una operación de suma de un número real y otro complejo

In [37]:
a = 550
b = 35 + 8j
print(a + b)

(585+8j)

13) Realizar una operación de multiplicación

In [10]:
c = 7 + 6
d = 4
product = c * d 
print(product)

52

14) Mostrar el resultado de elevar 2 a la octava potencia

In [39]:
resultado = 2 ** 8
print(resultado)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [40]:
cociente = 27 / 4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [41]:
# o puedo hacerlo 27 // 4

parte_entera = int(cociente)
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [42]:
resto = 27 % 4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [11]:
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [47]:
nombre = "Lina María"
apellido = "Sanabria"
nombre_completo = nombre + " " + apellido
print(nombre_completo)

Lina María Sanabria

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [49]:
"2" == 2 # los tipos de datos son diferentes: un string y un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [50]:
# o poner str(2) == 2
resultado = int("2") == 2 # al convertir el string en entero con la función int
print(resultado)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [53]:
a = float("3.8") # la sintaxis para floats es con punto no comas
print(a)

3.8

In [51]:
a = float ("3,8")
print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [55]:
valor = 3
valor -= 1
print(valor)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [56]:
1 << 2 # Estoy desplazando los bits del número 1 dos posiciones a la izquierda. El número 1 en binario es 0001.Cuando desplazo los bits dos posiciones a la izquierda, obtengos 0100 en binario. En decimal, 0100 es igual a 4. Entonces, 1 << 2 resulta en 4. En términos más simples, estás multiplicando 1 por 2 elizquierda representa una potencia de 2).

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [57]:
#no se pueden hacer operaciones de un str y un int
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [70]:
a = "te amo "
b = 5
print(a * b + "hasta el infinito")

te amo te amo te amo te amo te amo hasta el infinito

In [58]:
resultado = 25 / int("5")
print(resultado)

5.0